<link
  href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="pets.css" />

<%- include('header')  %> 

<div class="orange">
  <% if(data.length == 0){ %>
    <div class="design none">
      <h1 >No pets found for your location</h1>
      <a href="index.ejs"><button class="button-50">GO TO HOME</button></a>
    </div>
    <div class="orange" style="height: 300px; margin-top: 0px;"></div>
  <% } else { %> 
  <% for(var i = 0; i<data.length; i++){ %> 
  <div class="design">
    <div class="photo">
      <img src="data:img/png;base64,<%=data[i].PHOTO %>" alt="">
    </div>
    <div class="details">
      <p><u>Pet ID</u> : <%= data[i].ID %></p>
      <p><u>Owner's Name</u> : <%= data[i].NAME %></p>
      <p><u>City</u> : <%= data[i].CITY %> </p>
      <p><u>Animal Type</u> : <%= data[i].TYPE %> </p>
      <p><u>Breed</u> : <%= data[i].BREED %> </p>
      <p><u>Vaccinated ?</u> : <%= data[i].VACCINATED %> </p>
      <p><u>Owner's contact Number</u> : <%= data[i].CONTACT_NO %> </p>
      <form method="post" action="/pets.ejs">
        <input name="mark" type="hidden" value="<%= data[i].ID %> ">
        <button class="button-50">MARK AS ADOPTED</button>
      </form>
    </div>
  </div>
  <% } %>
  <div class="orange" style="height: 300px; margin-top: 0px;"></div>
    <% } %>  
</div>
