<link
  href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="pets.css" />

<div class="header">
  <a href="index.ejs" class="logo">furlife</a>
  <img class="dog_logo" src="logo.png" alt="Dog" />
  <div class="nearby">
    <a href="#"><u>> nearby vets / Shelter homes</u></a>
    <br />
    <a href="#"><u>> Pet - care articles</u></a>
  </div>
  <div class="successful_adoptions">
    <a href="successful_adoptions.ejs"><u>> successful adoptions</u></a>
    <br />
    <a href="#"><u>> customer reviews</u></a>
  </div>
</div>

<div class="orange">
  <% if(data.length == 0){ %>
  <div class="design none">
    <h1>We don't like showing off our success hehehe :P</h1>
    <a href="index.ejs"><button class="button-50">GO TO HOME</button></a>
  </div>
  <div class="orange" style="height: 300px; margin-top: 0px"></div>
  <% } else { %> <% for(var i = 0; i<data.length; i++){ %>
  <div class="design" style="height: 300px">
    <div class="photo">
      <img src="data:img/png;base64,<%=data[i].PHOTO %>" alt="" />
    </div>
    <div class="details">
      <p><u>Owner's Name</u> : <%= data[i].NAME %></p>
      <p><u>City</u> : <%= data[i].CITY %></p>
      <p><u>Animal Type</u> : <%= data[i].TYPE %></p>
      <p><u>Breed</u> : <%= data[i].BREED %></p>
      <p><u>Vaccinated ?</u> : <%= data[i].VACCINATED %></p>
      <p><u>Owner's contact Number</u> : <%= data[i].CONTACT_NO %></p>
    </div>
    <img class="tick" src="tick_mark.webp" alt="" />
  </div>
  <% } %>
  <div class="orange" style="height: 300px; margin-top: 0px"></div>
  <% } %>
</div>
